<!DOCTYPE html>
<html>
<head>
    <title>hello world</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<form action="/some.txt" method="post">
    enter some txt
    <input type="text" name="otext"/>
    <input type="submit" value="submit" />
</form>
</body>
</html>